/* Navbar */
.navbar-brand{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.nav-link{
    text-transform: uppercase;
    margin-right: 10px;
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    text-align: center;
}
#navright {
    margin-right: 50px;
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("img/main-bg.jpg");
  margin-bottom:0px;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.transparan{
    opacity: 0.5;
}
.mg{
    margin-left: 10%;
}
.m-top{
    margin-top:-75px;
}
.fontplay{
    font-family: 'Open Sans', sans-serif;
    padding-top: 150px;
    font-size: 50px;
    color: white;
    margin-bottom: 150px;
    text-align: center;
}
.fontplay h1{
    margin-top: 100px;
}
.fontplay p {
    margin-top: 60px;
}
#awal {
    text-align: center;
}
.par{
    font-size: small;
    color: white;
}
.font{
    font-size: 16px;
    margin-left: 30px;
}
.bg2{
    background-image: url("img/the-games-bg.jpg");
    font-family: 'Open Sans Condensed', sans-serif;
    height:100%;
    margin-top: -20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide{
    width: 70%;
    margin-left: 10%;
    padding-top: -200px;
}
.text{
    margin-left: 10%;
    color: white;
    margin-top: 20%;
    padding-top: 10%;
    text-align: left;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;
   
}
.bg3{
    width: 100%;
    height: 120vh;
    background-image: 
        radial-gradient(80% 60% at 30% 20%,
        rgba(255, 180, 52, 0) 0%,
        rgba(0, 0, 0, 0) 0%,
        #000000 115%),
        url('./img/features.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
    margin-bottom: -80px;
}
.text2{
    font-size: 20px;
    color: white;
    padding-left: 40%;
}
.bg4{
    background-image: url("img/requirements.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.text3{
    font-size: 20px;
    color: white;
    padding-left: 20%s;
    text-align: left;
}
.font3{
    font-size: small;
    padding-left: 70%;   
}
.bg5{
    background-image: url("img/top-score-bg.png");
    background-color: #000;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    margin-bottom: 0px;
}
.tombol{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
.tombol:hover{
    color: gray;
    text-decoration: none;
}
.mytable{
    margin-top: 50px;
    border-collapse: collapse;
    color: white;
    margin-right: 70%;
    margin-left: 40px;
    width: 600px;
}
.text5{
   margin-left: -30px;
   padding-bottom: 70px;
   color: white;
}
.text4{
    margin-left: -600px;
    margin-top: 80px;
}
.image{
    margin-right: 10px;
    text-align: left;
}
.card1{
    margin-left: 400px;
    margin-top: -150px;
    padding-left: -50px;
}
.card2{
    margin-left: 400px;
    margin-top: 9px;
    padding-left: -120px;
}
.twitter{
    padding-left: 300px;
    margin-top: -20px;
}
.card-body{
    padding-left: 0px;
    height: 160px;
}
.score-content-btn {
    margin-top: 1.5rem;
    background-color: #FBB341;
    border: none;
    width: 12rem;
    height: 3rem;
    font-weight: bold;
}

.title{
    padding-top: -400px;
    margin-left: -94px;
    color: goldenrod;
}
.title2{
    padding-top: -400px;
    margin-left: -70px;
    color: goldenrod;
}
.card-text{
    color: white;
    text-align: left;
    margin-left: 30px;
    font-size: small;
}
.card-text2{
    color: white;
    text-align: left;
    margin-left: 20px;
    font-size: small;
}
.bg6{
    background-image: url("img/newsletter-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 600px;
}
.text5{
    margin-top: -300px;
}
.tdlebar{
    padding: 12px;
}

.tdlebar h6{
 margin-bottom: -12px;
 padding: 0px;
 color: #FFA500 ;
}

.footer{
    height: 50px;
    background-color: black;

}
.link a{
    color: white;

}

.link2{
    margin-right: 30px;
    color: white;
}

.footer2{
    height: 50px;
    background-color: black;
    border-top: 1px solid white;
}
.footer2 p{
    color: white;
}
.list{
    color: goldenrod;
    text-align: left;
    margin-left: 300px;
}
.list span{
    color: white;
}
.linkku1{
    margin-left: 100px;
    color: white;
}
.linkku2{
    margin-left: 250px;
    color: white;
}
.footer-email{
    background-color: #1D1E1E;
    border: none;
    color: #FBB341;
    width: 12rem;
    height: 3rem;
}